/*---------------------------------------------------------------------
Font
-----------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/*---------------------------------------------------------------------
import Css
-----------------------------------------------------------------------*/
@import url("./dripicons.css");
@import url("./remixicon.css");
@import url("./fontawesome.css");
@import url("./line-awesome.min.css");
@import url("./ionicons.min.css");
@import url("./slick.css");
@import url("./slick-theme.css");
@import "variable.css";
@import "Ecommerce.css";
@import "EcommerceResponsive.css";
@import "agora.css";
/*@import url('typography.scss');*/
/*@import url('style.scss');*/
/*@import url('responsive.scss');*/
@import url('developer.css');
